@charset "utf-8";


* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
table { width: 100%; border-collapse: collapse; }
img { max-width: 100%; vertical-align: middle; }
ul { list-style-type: none; }
button { border:none; background:none; cursor:pointer; font-size:100%;}

.row { max-width: 960px; margin: 0 auto; }
body { font-size: 16px; font-family: '나눔고딕'; line-height: 1.5; color:#666;}

#nav { background:#85665c; position: fixed; top: 0; z-index: 999; width: 100%; }
#nav .depth1 { overflow: hidden;}
#nav .depth1 li { float: left; width: 20%; text-align: center; color: #fff; border-bottom: 2px solid transparent;}
#nav .depth1 a { display:block; padding: 20px 0; }
#nav .depth1 li:hover { border-bottom: 2px solid #fff }

#header { background: url(../img/header_bg.gif) no-repeat center; background-size: cover; height: 600px; margin-top: 66px; position: relative;}
.header_text { position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #333;}
.header_text > h1  p { font-size: 48px; font-family: '나눔명조';}
.header_text > p { font-size: 22.4px; }

#ourgally, #aboutus, #chefmenu, #roadmap, #reservation { padding-top: 120px !important; }
#section { background: url(../img/bg.jpg) repeat center; text-align: center; position: relative;}
#section > div { padding: 48px 0; }
#section > .article6 { padding: 0; }
#section h2 { font-size: 48px; font-family: '나눔명조'; text-align: center; color: #85665c; padding-bottom: 20px; }

.main_food { margin-top: -188px; text-align: center; }
.article1 > ul { display: table; width: 100%; color: #666; margin-top: 50px; }
.article1 > ul > li { display: table-cell; width: 25%; padding: 0 15px; } 
.article1 h3 { font-size: 25.6px; font-family: '나눔명조'; color: #85665c; padding-top: 50px;}
.article1 ul > li img { height: 97px; }
.article2 ul { overflow: hidden; }
/* 블록성격의 자식들을 한줄로 정렬하기 위해 float속성을
사용하면 부모의 높이가 사라지는 부작용이 발생함.
이것을 해결하기 위해 부모요소에 overflow:hidden속성을 줌 */
.article2 ul li { float: left; width: 25%; padding: 15px 20px; }
.article3 h2 { margin-bottom: 0px;}
.article3 .chef img { padding-top: 50px; }
.article3 p { color: #666; line-height: 1.5; }
.article3 strong { font-size: 28.8px; margin: 10px 0; font-weight:normal; font-family: '나눔명조'; color: #404040; margin: 50px 0; display: block;}
.article3 p:nth-of-type(4) { color: #85665c;}
.article4 h2 { margin-bottom: 70px;} 
.article4 table tr {text-align: left; border-top: 1px solid #ddd; }
.article4 table tr:first-child { border-top: none; }
.article4 table tr td:nth-child(2n+1) { font-size: 25.6px; color: #85665c; padding-top: 15px; }
.article4 table tr td:nth-child(2) { font-size: 22.4px; color: #404040; font-weight: bold; text-align: right; }
.article4 table tr td p { color: #404040;  font-size: 16px; margin-top: 0px; padding-bottom: 15px;}
.plus { width: 175.2px; height: 64px; background: #85665c; margin: 80px auto; border-radius: 50px; }
.plus a { display: inline-block; color: #fff; padding: 20px 0 20px; width: 100%;}
#detail { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); z-index: 9999; display: none;}
#detail .detailcont { position: absolute; width: 400px; top:30%; left:40%; padding: 20px; background: #fff; color: #000; }
.detailcont .close { display: block; width: 100px; background: red; color: #fff; padding: 10px 0; text-align: center; border-radius: 10px; margin: 20px auto 0;}
#detail:target { display: block; }
.article5 { text-align: left; overflow:hidden; }
.article5 .info { float: left; width: 50%; }
.article5 .info pre { font-family: inherit; }
.text { color: #333;}
.article5 .map { float: right; width: 50%; }
.article6 { background: #5a493c; font-size: 32px; color:#f4ba82; font-family: '나눔명조';}
.article6 img { width: 100%; }
.article6 a { color: #fff; padding-left: 20px; }
.article6 div { padding: 45px 0; }

#footer { background: #85665c; color: #fff; font-family: '나눔명조'; text-align: center; padding: 61px 0;}

.gotop { position: fixed; right:50px; bottom:50px; width:100px; height:100px; border-radius:50%; background:#000; color:#fff; text-align: center; line-height:100px; }